[user]
	email = 75232236+Bridges369@users.noreply.github.com
	name = Lucas Pontes
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
